{% extends 'base.html.twig' %}

{% block title %}
    Lire : {{ title }}
{% endblock %}



{% block body %}
    <h1> Un petit test </h1>

    <p> <a href="{}"> Lien vers article </a> </p>

    <p> oi,zqhoifhxq;hf;qmh;hxofqhz;xhofqmzhm;xhfozqx;hhfzqm;xhofmqhx;hfozqhx;ohfozqhzo;xhozqhhfxoqh;ohfozq</p>
    <p> oi,zqhoifhxq;hf;qmh;hxofqhz;xhofqmzhm;xhfozqx;hhfzqm;xhofmqhx;hfozqhx;ohfozqhzo;xhozqhhfxoqh;ohfozq</p>
    <p> oi,zqhoifhxq;hf;qmh;hxofqhz;xhofqmzhm;xhfozqx;hhfzqm;xhofmqhx;hfozqhx;ohfozqhzo;xhozqhhfxoqh;ohfozq</p>
    <p> oi,zqhoifhxq;hf;qmh;hxofqhz;xhofqmzhm;xhfozqx;hhfzqm;xhofmqhx;hfozqhx;ohfozqhzo;xhozqhhfxoqh;ohfozq</p>
{% endblock %}